/* CSS */
.container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex: vertical;
    flex-direction: row;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    letter-spacing: 1em;
}

clock, temperature, humidity {
    color: orangered;
    font-size: 2em;
}